body {
	margin: 0;
	padding: 0;
}

#terminal {
	display: inline-block;

	margin: 0 auto;

	transition: all 0.5s ease-out 0s;
}

#terminal > table {
	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

#terminal > table > tbody > tr > td {
	border-radius: 4px;
}

#terminal .term, #terminal .termReverse {
	font-size: 14px;
	font-family: monospace;
}

#terminal .term { color: #E5E5E5 }
#terminal .termReverse { background: white }

#dummy {
	z-index: -1;
	opacity: 0;
}
